################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Minesweeper/Minesweeper/bin/Debug
/Minesweeper/Minesweeper/obj/Debug
/Minesweeper/Minesweeper.Tests/bin/Debug
/Minesweeper/Minesweeper.Tests/obj/Debug
