################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Minesweeper/Minesweeper/bin/Debug
